<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Entrada Usuário - Home</title>
    <style>
    </style>
</head>

<body>

    <h1>Calculadora de Equações do 2º Grau</h1>

    <div>
        <form action="/" method="POST">  <!--Perceba a Action. Enviando para a rota raiz!-->

            <h3>Digite os Coeficiente</h3>
            <input required type="number" name="numero1" placeholder="Digite Coeficiente A">
            <input required type="number" name="numero2" placeholder="Digite Coeficiente B">
            <input required type="number" name="numero3" placeholder="Digite Coeficiente C">
            <input type="submit" value="Calcular">
        </form>
    </div>
</body>
</html>